[MASTER]
ignore-paths=
    tests/.*

disable=
    logging-fstring-interpolation,
    missing-function-docstring,
    missing-module-docstring,
    consider-using-f-string,
    missing-class-docstring,
    too-few-public-methods,
    no-value-for-parameter,
    wrong-import-position,
    trailing-whitespace,
    bad-indentation,
    fixme

[FORMAT]
max-line-length=120
