@import "styles.css";
@import "colors.css";
.container{
  flex: 1 0 auto;
  padding-top: 10vh;
}
.links-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: flex-start;
}
.back__button {
  height: 35px;
  width: 35px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.link__img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.social-button{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 10px;
}

.form-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 40vw;
  min-width: 40vw;
padding: 30px 20px;
font-family: "Schibsted Grotesk", sans-serif;
  font-size: 16px;
  border-radius: 35px;
}

.form-title {
  padding-top: 30px;
    margin: 0;
    margin-bottom: 20px;
    font-family: "Unica One", cursive;
    font-size: 54px;
}
.form-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  width: 100%;
}
.form-area a {
  text-decoration: none;
  color: var(--white);
  transition: color 0.2s ease-in-out;

  letter-spacing: 1px;
}
.form-area a:hover {
  color: var(--media-hover);
}
.form-text-input{
  display: block;
  font-size: 16px;
  padding: 5px 10px;
  height: 25px;
  width: 80%;
  font-family: "Schibsted Grotesk", sans-serif;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
.form-text-input:focus{
  outline: 1px solid var(--black);
}
.hide-show-field{
  height: 25px;
  width: 80%;
  padding: 5px 10px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: var(--white);
}
.hide-show:focus-within{
  outline: 1px solid var(--black);
}
.hide-show-field > input{
  margin: 0;
  border: none;
  font-size: 16px;
  flex-grow: 2;
}
.hide-show-field > input:focus{
  outline: none;
}
#toggle-visability{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 2;
}
#hide-image-password, #hide-image-token{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.messages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.flash {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}

.flash.success{
  color: rgb(15, 156, 15);
}
.flash.error{
  color: rgb(196, 18, 18);
}
.flash.success_token{
  color: rgb(15, 156, 15);
}
.reg-button {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  height: 40px;
  width: fit-content;
  padding: 2px 25px;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  box-shadow: none;
  border: none;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
.reg-button:hover{
  background-color: var(--button-hover);
  }