:root {
    /* --white: #fff;
    --black: #000;
    --dark-blue:#274c77;
    --deep-dark-blue:#152e4b;
    --dark-grey:#6d6d6c;
    --grey:#8B8C89; */
    
    /* --dark-blue:#000; */
    
    /* --grey:#8B8C89; */
    /* --light-grey:#E7ECEF; */
    /* --light-grey: #07BEB8;
    --block-color:#6096BA;   */
    /* --light-grey: #ffffff; */
    --white: #fff;
    --black: #000;
    --button-hover:#3e3e3f;
    --button-light-hover: #49048a;
    --media-hover:#6d6d6c;
    --block-color:rgb(127, 17, 218);  
  }



  
