/* @import "styles.css"; */

/* -------------------------- */
body{
  background-color: #F5F5F5;
}

header {
  background-color: transparent;
  padding: 30px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.paragraph {
    margin-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: transparent;
  border-top: 2px solid blue;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

footer a {
  position: relative;
  transition: color 0.3s ease-in-out;
  color: white;
}

footer a:hover {
  color: blue;
  text-decoration: none;
}

footer a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

footer a:hover::after {
  transform: scaleX(1);
}

p {
  margin: 3px;
}

/* -------------------------- */

.page404 {
  background-image: url("../img/dark_404.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.text-404-1{
  font-size: 36px;
  position: fixed;
  left: 150px;
  top: 150px;
}

.text-404-2{
  font-size: 36px;
  position: fixed;
  left: 300px;
  top: 300px;
}

.text-404-3{
  font-size: 36px;
  position: fixed;
  left: 450px;
  top: 450px;
}

.link-back-404{
  color: greenyellow;
}
