@import "styles.css";

.page404 {
  background-image: url("../img/dark_404.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.text-404-1{
  font-size: 36px;
  position: fixed;
  left: 150px;
  top: 150px;
}

.text-404-2{
  font-size: 36px;
  position: fixed;
  left: 300px;
  top: 300px;
}

.text-404-3{
  font-size: 36px;
  position: fixed;
  left: 450px;
  top: 450px;
}

.link-back-404{
  color: greenyellow;
}

footer a {
  position: relative;
  transition: color 0.3s ease-in-out;
  color: white;
}
