@import "styles.css";
@import "colors.css";

.container{
  flex: 1 0 auto;
}

.title-block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
}
.title-block__title {
  text-align: center;
  margin: 0;
  font-family: "Unica One", cursive;
  color: var(--black);
  font-size: 100px;
  font-weight: 100;
}
.title-block__slogan {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 25px;
}
.title-block__slogan > p {
  font-family: "Schibsted Grotesk", sans-serif;
  color: var(--black);
  text-align: center;
  font-size: 20px;
}
.title-block__buttons {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 50%;
  column-gap: 20px;
  padding-bottom: 40px;
}
.title-block__button {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  height: 40px;
  width: fit-content;
  padding: 2px 25px;
  color: var(--white);
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  box-shadow: none;
  border: none;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
.title-block__button:hover{
background-color: var(--button-hover);
}
.title-block__button-light:hover{
  background-color: var(--button-light-hover);
}

.premium-button{
  font-family: "Schibsted Grotesk", sans-serif;
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  height: 40px;
  width: fit-content;
  padding: 2px 25px;
  border-radius: 10px;
  background: linear-gradient(to right, #4CAF50, #00bcd4, #2196F3, #9C27B0, #E91E63);
  transform: skewX(-20deg);
  border: 3px solid #4430f0;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  padding-bottom: 100px;
}
.outer-card {
  height: 400px;
  width: 400px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner-card{
  background-color: inherit;
  width: 80%;
  height: 80%;
  border-radius: 30px;
  overflow: hidden;
}
.card__img{
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit:cover;
  filter:saturate(20%);
}

.clip-arrow-left{
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.clip-arrow-right{
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}




.media {
  padding-top: 100px;
  padding-bottom: 50px;
}
.media-wrapper{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 80vw;
}
.media__title {
  text-align: center;
  margin: 0;
  font-family: "Unica One", cursive;
  color: var(--black);
  font-size: 48px;
  font-weight: 100;
}
.media__description {
  display: flex;
  justify-content: center;
  width: 40%;
  padding-bottom: 25px;
}
.media__description > p{
  font-family: "Schibsted Grotesk", sans-serif;
  color: var(--black);
  text-align: center;
  font-size: 18px;
}
.media__buttons {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 50%;
  column-gap: 80px;
  padding-bottom: 40px;
}
.media__button {
  height: 65px;
  width: 65px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.media__button:hover{
  background-color: var(--media-hover);
}
.media__img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.faq {
  padding-bottom: 100px;
}
.faq-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 80vw;
  max-width: 80vw;

}
.faq__title {
  margin: 0;
  font-family: "Unica One", cursive;
  color: var(--black);
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 60px;
}
.questions {
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  column-gap: 50px;
}
.question {
  width: 30%;
  height: auto;
}
.question__title {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.question__text {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 16px;
  color: var(--black);
}


