@import "styles.css";

.sign-up-button{
  position: absolute;
  top: 10px;
  right: 70px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.sign-in-button{
  position: absolute;
  top: 8px;
  right: 145px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.tg-button{
  position: absolute;
  top: 8px;
  right: 220px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.github-button{
  position: absolute;
  top: 8px;
  right: 295px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 2.8%;
  height: auto;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  z-index: 9999;
}

.logo-text {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: deepskyblue;
}

.logo:hover .logo-text {
  animation: flash 1.0s infinite;
}

@keyframes flash {
  0% { color: blue; }
  50% { color: transparent; }
  100% { color: rebeccapurple; }
}

.ad-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18%;
  right: 1%;
  background-color: transparent;
}

.ad-box {
  width: 200px;
  height: 230px;
  background-color: lightpink;
  margin: 10px;
  padding: 10px;
}

.about{
  color: black;
  position: absolute;
  left: 1%;
  top: 6%;
  background-color: transparent;
}

ul {
  width: 600px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
