@import "styles.css";

.logout_button{
  position: absolute;
  top: 8px;
  left: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.token_place{
  position: absolute;
  top: 10px;
  right: 20px;
}

h3#token_place{
  display: inline;
  user-select: none;
}