@import "styles.css";

.home-button {
  position: absolute;
  top: 8px;
  left: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3.5%;
  height: auto;
}

.logout_button{
  position: absolute;
  top: 8px;
  left: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3.2%;
  height: auto;
}

.token-place{
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 15px;
  right: 55px;
}
.copy-img{
  position: absolute;
  top: -5px;
  right: -40px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 10%;
  height: auto;
}

.copy-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

h3#token-place{
  display: inline;
  user-select: none;
}

.container{
  position: absolute;
  display: flex;
  flex-direction: column;
  float: right;
  top: 225px;
  right: 75px;
}

.add-form-1, .add-form-2 {
  float: right;
  background-color: beige;
  padding: 10px;
  margin: 10px;
  width: 210px;
}

.add-form-1 form, .add-form-2 form {
  display: flex;
  flex-direction: column;
}
.add-form-1 input, .add-form-2 input {
  margin-bottom: 10px;
}

.table-wrapper {
  padding: 10px;
  margin-top: 6%;
  margin-left: 50px;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  color: black;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.flash.success{
  position: fixed;
  bottom: 30%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 3px;
  border: 1px solid #21DB56;
  background: #AEFFC5;
}

.flash.error{
  position: fixed;
  bottom: 25%;
  right: 3%;
  transform: translate(-50%, -50%);
  width: 150px;
  padding: 5px;
  border: 1px solid #FF4343;
  background: #FF9C9C;
}