/* @import "styles.css"; */

/* -------------------------- */
body{
  background-color: #F5F5F5;
}

header {
  background-color: transparent;
  padding: 30px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.paragraph {
    margin-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: transparent;
  border-top: 2px solid blue;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

footer a {
  position: relative;
  transition: color 0.3s ease-in-out;
  color: black;
}

footer a:hover {
  color: blue;
  text-decoration: none;
}

footer a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}

footer a:hover::after {
  transform: scaleX(1);
}

p {
  margin: 3px;
}

/* -------------------------- */

.home-button {
  position: absolute;
  top: 8px;
  left: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3.5%;
  height: auto;
}

.logout_button{
  position: absolute;
  top: 8px;
  left: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3.2%;
  height: auto;
}

.token-place{
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 15px;
  right: 55px;
}
.copy-img{
  position: absolute;
  top: -5px;
  right: -40px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 10%;
  height: auto;
}

.copy-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

h3#token-place{
  display: inline;
  user-select: none;
}

.container{
  position: absolute;
  display: flex;
  flex-direction: column;
  float: right;
  top: 110px;
  right: 50px;
}

.add-form-1, .add-form-2 {
  float: right;
  background-color: beige;
  padding: 10px;
  margin: 10px;
  width: 210px;
}

.delete-record {
  float: right;
  background-color: #FFCCCC;
  padding: 10px;
  margin: 10px;
  width: 210px;
}

.bin-img{
  position: absolute;
  bottom: 35px;
  left: -40px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 15%;
  height: auto;
}

.income-img{
  position: absolute;
  top: 60px;
  left: -40px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 20%;
  height: auto;
}

.expense-img{
  position: absolute;
  bottom: 165px;
  left: -40px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 20%;
  height: auto;
}

.add-form-1 form, .add-form-2 form {
  display: flex;
  flex-direction: column;
}
.add-form-1 input, .add-form-2 input, .delete-record input {
  margin-bottom: 10px;
}

.table-wrapper {
  padding: 10px;
  margin-top: 6%;
  margin-left: 50px;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  color: black;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.flash.success{
  position: fixed;
  bottom: 30%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 3px;
  border: 1px solid #21DB56;
  background: #AEFFC5;
}

.flash.error{
  position: fixed;
  bottom: 25%;
  right: 3%;
  transform: translate(-50%, -50%);
  width: 150px;
  padding: 5px;
  border: 1px solid #FF4343;
  background: #FF9C9C;
}