@import "styles.css";

.household{
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.logout_button{
  position: absolute;
  top: 8px;
  left: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.token_place{
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 20px;
}

h3#token_place{
  display: inline;
  user-select: none;
}

.container{
  display: flex;
  flex-direction: column;
  float: right;
  position: absolute;
  top: 225px;
  right: 75px;
}

.add_form_1, .add_form_2 {
  float: right;
  background-color: beige;
  padding: 10px;
  margin: 10px;
  width: 210px;
}

.add_form_1 form, .add_form_2 form {
  display: flex;
  flex-direction: column;
}
.add_form_1 input, .add_form_2 input {
  margin-bottom: 10px;
}

.table-wrapper {
  padding: 10px;
  margin-top: 6%;
  margin-left: 50px;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  color: black;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.flash.success{
  position: fixed;
  bottom: 30%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 3px;
  border: 1px solid #21DB56;
  background: #AEFFC5;
}

.flash.error{
  position: fixed;
  bottom: 25%;
  right: 3%;
  transform: translate(-50%, -50%);
  width: 150px;
  padding: 5px;
  border: 1px solid #FF4343;
  background: #FF9C9C;
}