header {
  background-color: transparent;
  padding: 30px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.home_button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.sign_up_button{
  position: absolute;
  top: 10px;
  right: 70px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.sign_in_button{
  position: absolute;
  top: 8px;
  right: 150px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.tg_button{
  position: absolute;
  top: 8px;
  right: 235px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.logout_button{
  position: absolute;
  top: 8px;
  left: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 3%;
  height: auto;
}

.paragraph {
    margin-bottom: 10px;
  }

.container_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 150px;
  margin: 100px auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.container_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 100px auto;
  border: 1px solid #ccc;
  padding: 20px;
}

.header_1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 10px;
}

.header_2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: -5px;
  margin-bottom: 10px;
}

.form{
  margin-left: -10px;
}


input[type="text"],
input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

#clear-button {
  position: fixed;
  left: 50%;
  bottom: 350px;
  transform: translateX(-50%);
  background-color: #ffbb00;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
}

.link-button {
  background-image: linear-gradient(to right, #ff0000, #0000ff);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  padding: 0.7% 2.3%;
  font-size: 16px;
  border-radius: 4px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: transparent;
}

#gradient-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, red, yellow, green, blue);
  background-size: 800% 100%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.page404 {
  background-image: url("../img/dark_404.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.text_404_1{
  font-size: 36px;
  position: fixed;
  left: 150px;
  top: 150px;
}

.text_404_2{
  font-size: 36px;
  position: fixed;
  left: 300px;
  top: 300px;
}

.text_404_3{
  font-size: 36px;
  position: fixed;
  left: 450px;
  top: 450px;
}

.link_back_404{
  color: greenyellow;
}

a:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red, orange, yellow);
  background-size: 500%;
  animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.flash{

}

.flash.success{
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 237px;
  padding: 3px;
  border: 1px solid #21DB56;
  background: #AEFFC5;
}

.flash.success_token{
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 5px;
  border: 1px solid #21DB56;
  background: #AEFFC5;
}

.flash.error{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 5px;
  border: 1px solid #FF4343;
  background: #FF9C9C;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  z-index: 9999;
}

.logo-text {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: deepskyblue;
}

.logo:hover .logo-text {
  animation: flash 1.0s infinite;
}

@keyframes flash {
  0% { color: blue; }
  50% { color: transparent; }
  100% { color: rebeccapurple; }
}

.ad-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18%;
  right: 1%;
  background-color: transparent;
}

.ad-box {
  width: 200px;
  height: 230px;
  background-color: lightpink;
  margin: 10px;
  padding: 10px;
}

.about{
  position: absolute;
  left: 5%;
  top: 10%;
  background-color: transparent;
}