header {
  background-color: transparent;
  padding: 30px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.paragraph {
    margin-bottom: 10px;
}

.link-button {
  background-image: linear-gradient(to right, #ff0000, #0000ff);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  padding: 0.7% 2.3%;
  font-size: 16px;
  border-radius: 4px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: transparent;
}

#gradient-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, red, yellow, green, blue);
  background-size: 800% 100%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0 0; }
  100% { background-position: 100% 0; }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

a{
  color: black;
}

a:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red, orange, yellow);
  background-size: 500%;
  animation: rainbow 3s linear infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

p {
  margin: 8px;
}