<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}"/>
  </head>

  <body class="main-container">

    <header class="header light-block">
      <p class="logo">Budget Control Project</p>
    </header>

    <main class="container light-block">
      <div class="title-block light-block">
        <h1 class="title-block__title">RULE YOUR FINANCIES</h1>
        <div class="title-block__slogan">

          <p>
            Tired of the money monster lurking in the shadows, gnawing at your
            wallet? Introducing Budget Control Project, the ultimate weapon to
            slay the beast and dance on its financial carcass!
          </p>

        </div>
        <div class="title-block__buttons">

          <button onclick="location.href='/registration'" class="title-block__button dark-button">
            Join now
          </button>

          <button onclick="location.href='/login'" class="title-block__button title-block__button-light block-color">
            Sign in
          </button>

          <button onclick="location.href='/about_premium'" class="button premium-button">
            Premium
          </button>

        </div>
      </div>

      <div class="card-container">
        <div class="outer-card block-color">
          <div class="inner-card">
            <img alt="none" src="{{ url_for('static', filename='img/coins.jpg') }}" class="card__img clip-arrow-right"/>
          </div>
        </div>
        <div class="outer-card block-color">
          <div class="inner-card">
            <img alt="none" src="{{ url_for('static', filename='img/atm.jpg') }}" class="card__img"/>
          </div>
        </div>
        <div class="outer-card block-color">
          <div class="inner-card">
            <img alt="none" src="{{ url_for('static', filename='img/dollars.jpg') }}" class="card__img clip-arrow-left"/>
          </div>
        </div>
      </div>
      <div class="ad-wrapper">
        <div class="ad"><p>Place for an advertisement</p></div>
      </div>
      <div class="media dark-block">
        <div class="media-wrapper">
          <h3 class="media__title">Don't miss out!</h3>
          <div class="media__description">

            <p>
              Unlock the secrets of Budget Control Project with timely tips and
              tricks. Sign up for financial freedom!
            </p>

          </div>
          <div class="media__buttons">

            <button onclick="location.href='https://github.com/MothScientist/budget_control'" class="media__button">
              <img class="media__img" src="{{ url_for('static', filename='img/github.png') }}" />
            </button>

            <button onclick="location.href='https://t.me/budget_control1bot'" class="media__button">
              <img class="media__img" src="{{ url_for('static', filename='img/telegram.png') }}" />
            </button>

          </div>
        </div>
      </div>

      <div class="faq dark-block">
        <div class="faq-wrapper">
          <h3 class="faq__title">Frequently Asked Questions</h3>
          <div class="questions">
            <div class="question">

              <h5 class="question__title">
                Is Budget Control Project suitable for beginners?
              </h5>

              <p class="question__text">
                Absolutely! Budget Control Project is designed for both
                beginners and experienced budgeters alike, providing an
                intuitive platform to manage your finances.
              </p>

            </div>
            <div class="question">

              <h5 class="question__title">
                Can I use Budget Control Project on mobile?
              </h5>

              <p class="question__text">
                Indeed! Budget Control Project has a telegram bot available on
                mobile, so you can control your finances on-the-go.
              </p>

            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer dark-block">
      <div class="footer-wrapper">
        <div class="copyrights">

          <a href="https://www.flaticon.com/free-icons/telegram" title="telegram icons">
            Telegram icons created by Pixel perfect - Flaticon
          </a>

          <a href="https://www.flaticon.com/free-icons/github" title="github icons">
            GitHub's icons created by Pixel perfect - Flaticon
          </a>

          <a href="https://www.flaticon.com/free-icons/arrows" title="arrows icons">
            Arrows icons created by gravisio - Flaticon
          </a>

        </div>
      </div>
    </footer>
  </body>
</html>