<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body>
  <a href="/">
    <img src="{{ url_for('static', filename='img/turn-back.png') }}" alt="Back to home page" class="button">
  </a>

  <!-- main container -->
  <div class="container">
    <!-- first part -->
    <div>
      <div class="header_1">Login</div>
      <form action="/auth" method="POST">
        <input type="text" name="name" placeholder="Your name">
        <input type="password" name="token" placeholder="Token">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" class="link-button">Sign in!</button>
      </form>
    </div>

    <!-- second part -->
    <div>
      <div class="header_2">Registration</div>
      <form action="/auth" method="POST">
        <input type="text" name="name" placeholder="Your name">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="token" placeholder="Token (if you are adding to an existing family)">
        <button type="submit" class="link-button">Sign up!</button>
      </form>
    </div>
  </div>

  <button class="clear-button">Clear</button>

  <footer>
    <div id="gradient-line"></div>
    <div class="content">
        <p>Icon made by Gajah Mada from <a href="https://www.flaticon.com">www.flaticon.com</a></p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/line_auth.js') }}"></script>
</body>
</html>