<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error-page.css') }}">
</head>
<body class="page404">
    <div class="text-404-1">
        Are you lost?
    </div>

    <div class="text-404-2">
        It's dangerous here.
    </div>

    <div class="text-404-3">
        Better run <a class="link-back-404" href="\">back</a>!
    </div>

    <footer>
    <div id="gradient-line"></div>
    <div class="content">
        <p>Background from <a id="404-link" href="https://bogatyr.club/">bogatyr.club</a></p>
    </div>
  </footer>
</body>
</html>