<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
    <script src="{{ url_for('static', filename='js/line.js') }}"></script>
</head>
<body class="homepage">
  <header>
      <div class="logo">
        <span class="logo-text">Budget Control project</span>
      </div>

      <a href="/registration">
        <img src="{{ url_for('static', filename='img/sign-up.png') }}" alt="Sign up" class="sign_up_button">
      </a>

      <a href="/login">
        <img src="{{ url_for('static', filename='img/sign-in.png') }}" alt="Sign in" class="sign_in_button">
      </a>

      <a href="https://t.me/budget_control1bot">
        <img src="{{ url_for('static', filename='img/telegram.png') }}" alt="Telegram bot" class="tg_button">
      </a>

      <a href="https://github.com/MothScientist/budget_control">
        <img src="{{ url_for('static', filename='img/github.png') }}" alt="Github" class="github_button">
      </a>
  </header>

  <div class="about">
      <ul>
          <h3>What is this and why?</h3>
          This project was created to control your personal/family budget.<br><br>
          We place our main emphasis on complete and unconditional confidentiality and reliability of storing and processing your data.<br><br>
          Minimalistic design, ease of use and fast communication speed.<br><br>
          We really hope you join our team!
      </ul>

      <ul>
          <h3>How is your data stored and processed?</h3>
          Dear project visitors,<br>
          Our team values your confidentiality and privacy.<br><br>
          Our site strictly complies with all applicable laws and standards regarding the protection of personal information. We take measures to protect your data from unauthorized access, modification, transfer or destruction.<br><br>
          All information you provide to us is used solely for purposes related to providing our services to you. We do not disclose your information to third parties.<br><br>
          We also strictly monitor the security of data transmission through our website. All your personal data is transmitted via secure communication channels and stored on reliable servers with physical and electronic security.<br><br>
          Best regards, control budget project team.
      </ul>

      <ul>
          <h3>Can I delete my account and income/expense table?</h3>
          Sure!<br>
          We can completely delete your account along with the entire group and income/expense history.
      </ul>

      <ul>
          <h3>Support and FAQ</h3>
          support@support.org
      </ul>
  </div>

  <div class="ad-container">
      <div class="ad-box">
          <h1>Space for your advertising #1</h1>
      </div>

      <div class="ad-box">
        <h1>Space for your advertising #2</h1>
      </div>
  </div>

  <footer>
      <div id="gradient-line"></div>
      <div class="content">
          <p><a href="https://www.flaticon.com/free-icons/register" title="register icons">Register icons created by Prosymbols - Flaticon</a></p>
          <p><a href="https://www.flaticon.com/free-icons/sign-up" title="sign up icons">Sign up icons created by Freepik - Flaticon</a></p>
          <p><a href="https://www.flaticon.com/free-icons/telegram" title="telegram icons">Telegram icons created by Pixel perfect - Flaticon</a></p>
          <a href="https://www.flaticon.com/free-icons/github" title="github icons">Github icons created by Pixel perfect - Flaticon</a>
          <p>Background from <a href="https://abrakadabra.fun">abrakadabra.fun</a></p>
      </div>
  </footer>
</body>
</html>