<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/household.css') }}">
    <script src="{{ url_for('static', filename='js/line.js') }}"></script>
</head>
<body class="household">
  <header>
      <a href="/logout">
        <img src="{{ url_for('static', filename='img/logout.png') }}" alt="Login out" class="logout_button">
      </a>
  </header>

  <div class="token_place">
      <h3 id="token_place">Token: </h3>{{ token }}
  </div>

  <div class="table-wrapper">
    <table>
      <tr>
        <th>DateTime</th>
        <th>Username</th>
        <th>Total</th>
        <th>Transfer</th>
        <th>Description</th>
      </tr>

      <tr>
        <td>Ячейка 1-1</td>
        <td>Ячейка 1-2</td>
        <td>Ячейка 1-3</td>
        <td>Ячейка 1-4</td>
        <td>Ячейка 1-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 2-2</td>
        <td>Ячейка 2-3</td>
        <td>Ячейка 2-4</td>
        <td>Ячейка 2-5</td>
      </tr>

      <tr>
        <td>Ячейка 2-1</td>
        <td>Ячейка 14-2</td>
        <td>Ячейка 14-3</td>
        <td>Ячейка 14-4</td>
        <td>Ячейка 14-5</td>
      </tr>

      <tr>
        <td>Ячейка 15-1</td>
        <td>Ячейка 15-2</td>
        <td>Ячейка 15-3</td>
        <td>Ячейка 15-4</td>
        <td>Ячейка 15-5</td>
      </tr>

    </table>

  </div>

  <div class="container">
      <div class="add_form_1">
          <div class="header_1">Add income</div>
          <form action="/household/{{ username }}" method="POST">
            <input type="text" id="income" name="income" placeholder="Income">
            <input type="text" id="description_1" name="description_1" placeholder="Description">
            <button type="submit" name="submit_button_1" id="submit_button_1">Add to table</button>
            <button type="reset" id="clear_button_1">Clear</button>
          </form>
        </div>

      <div class="add_form_2">
          <div class="header_2">Add expense</div>
          <form action="/household/{{ username }}" method="POST">
            <input type="text" id="expense" name="expense" placeholder="Expense">
            <input type="text" id="description_2" name="description_2" placeholder="Description">
            <button type="submit" name="submit_button_2" id="submit_button_2">Add to table</button>
            <button type="reset" id="clear_button_2">Clear</button>
          </form>
        </div>
    </div>

  <footer>
      <div id="gradient-line"></div>
      <div class="content">
          <p><a href="https://www.flaticon.com/free-icons/check-out" title="check out icons">Check out icons created by Infinite Dendrogram - Flaticon</a></p>
      </div>
  </footer>
</body>
</html>