<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-registration.css') }}"/>
    <script src="{{ url_for('static', filename='js/AcceptButton.js') }}"></script>
    <script src="{{ url_for('static', filename='js/HidePassword.js') }}"></script>
  </head>
  <body class="main-container">
    <header class="header light-block">
      <p class="logo">Budget Control Project</p>
    </header>

    <main class="container light-block">
      <div class="form-wrapper block-color">
        <div class="links-wrapper">
          <button onclick="location.href='/'" class="back__button">
            <img class="link__img" src="{{ url_for('static', filename='img/back-arrow.png') }}"/>
          </button>
          <div class="social-links">
            <button
              onclick="location.href='https://t.me/budget_control1bot'"
              class="button social-button">
              <img class="link__img" src="{{ url_for('static', filename='img/telegram.png') }}"/>
            </button>
            <button
              onclick="location.href='https://github.com/MothScientist/budget_control'"
              class="button social-button">
              <img class="link__img" src="{{ url_for('static', filename='img/github.png') }}"/>
            </button>
          </div>
        </div>
        <h2 class="form-title">Registration</h2>
        <form class="form-area" action="/registration" method="POST">
          <input
            type="text"
            id="username"
            name="username"
            class="form-text-input"
            placeholder="Your name (3-20 characters)"
            maxlength="20"
          />
          <input
            type="text"
            id="telegram-id"
            name="telegram-id"
            class="form-text-input"
            placeholder="Your telegram ID"
            maxlength="12"
          />
          <div class="hide-show-field">
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password (8-32 characters / at least 1 number and 1 letter)"
              maxlength="32"
            />
            <button
              type="button"
              id="toggle-visability"
              class="button"
              onclick="togglePasswordVisibility()"
            >
              <img
                id="hide-image-password"
                src="{{ url_for('static', filename='img/hide.png') }}"
                alt="Show/Hide Password"
              />
            </button>
          </div>
          <div class="hide-show-field">
            <input
              type="password"
              id="token"
              name="token"
              placeholder="Token (if you are adding to an existing group)"
              maxlength="32"
            />
            <button
              type="button"
              id="toggle-visability"
              class="button"
              onclick="toggleTokenVisibility()"
            >
              <img
                id="hide-image-token"
                src="{{ url_for('static', filename='img/hide.png') }}"
                alt="Show/Hide Password"
              />
            </button>
          </div>

          <label for="agree-checkbox">
            <input id="agree-checkbox" type="checkbox" required /> I agree with
            <a href="/conditions">the conditions</a>
          </label>
          <div class="messages-container">
            {% for category, messages in get_flashed_messages(True) %}
            <div class="flash {{ category }}">{{ messages }}</div>
            {% endfor %}
          </div>
          <p>Already has an account? <a href="/login">Sign in</a></p>
          <div class="reg-buttons">
            <button type="submit" id="signup-button" class="reg-button dark-button">
              Sign up!
            </button>
            <button type="reset" class="reg-button dark-button" id="clear-button">
              Clear
            </button>
          </div>
        </form>
      </div>
    </main>

    <footer class="footer dark-block">
      <div class="footer-wrapper">
        <div class="copyrights">
          <a
            href="https://www.flaticon.com/free-icons/money"
            title="money icons"
            >Money icons created by Freepik - Flaticon</a
          >
          <a
            href="https://www.flaticon.com/free-icons/register"
            title="register icons"
            >Register icons created by Prosymbols - Flaticon</a
          >
          <a
            href="https://www.flaticon.com/free-icons/sign-up"
            title="sign up icons"
            >Sign up icons created by Freepik - Flaticon</a
          >
          <a
            href="https://www.flaticon.com/free-icons/telegram"
            title="telegram icons"
            >Telegram icons created by Pixel perfect - Flaticon</a
          >
          <a
            href="https://www.flaticon.com/free-icons/github"
            title="github icons"
            >GitHub's icons created by Pixel perfect - Flaticon</a
          >
          <a
            href="https://www.flaticon.com/free-icons/arrows"
            title="arrows icons"
            >Arrows icons created by gravisio - Flaticon</a
          >
          <p>
            Background from
            <a href="https://abrakadabra.fun">abrakadabra.fun</a>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
